
.container form
{
height: 100vh;
border: 2px solid red;
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center;
}
#donate-btn
{
background-color: blueviolet;
border-radius: 0.25em;
padding: 12px 39px;
color: white;
border: 2px solid blueviolet;
cursor: pointer;
display: inline-block;
font-weight: bold;
font-size: 1.3rem;
margin: 1.5rem 0;


}
input{
    padding:1em 1.5em;
    margin:0.5rem 0;
}

