{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Donate page</title>
</head>

<body>

    <div class="container">
        <form action="on_form_submit" method="GET">
        <input type="text" id="firstName" name="firstName" placeholder="Enter Your First Name">
        <input type="text" id="lastName" name="lastName" placeholder="Enter Your Last Name">
        <input type="phone" id="mobile"  name="mobile" placeholder="Enter mobile number">
        <input type="email" id="emailAdd" name="emailAdd" placeholder="Enter Email address">
        <input type="number" id="amount" name="amount" placeholder ="Enter amount in INR">
      <input type="submit" id="donate-btn" value="Donate">



    </form>
    </div>


</body>
<script src="{% static 'index.js' %}"></script>
</html>