{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Donate page</title>
</head>
<body>
   
    <div class="container">
        <a id="donate-btn">Donate</a> 


<div id="paypal-button">{% csrf_token %} </div>


    
   
   
</body>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="{% static 'paypal.js' %}"></script>
</html>