{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'success-failure.css' %}">
    
    <title>Document</title>
</head>
<body>
    <section class="c-container">
  
        <div class="o-circle c-container__circle o-circle__sign--success">
          <div class="o-circle__sign"></div>  
        </div>   
  </section>
  <div>
      <h2>Your transaction has been successfully completed.</h2>
      <h2>Thanks for Donation!!!</h2>
  </div>
      
</body>
</html>